

.wow-enter {
    opacity: 0;
}

.wow-enter-active {
    opacity: 1;
    transition: 500ms;
}

.btn {
    margin: 5px;
}

.my-alert  {
    background-color: lightyellow;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.my-alert p {
    margin-bottom: 0;
    display: inline-block;
}

.close-btn {
    border: none;
    background-color: lightyellow;
    color: grey;
    display: inline-block;
    position: relative;
    left: 100px;
}