

// $메인컬러 : #ff0000;

// .red {
//     color: $메인컬러;
// }

// div.container {
//     h4{
//         color: blue;
//     }

//     p {
//         color: green;
//     }
// }

.wow-enter {
    opacity: 0;
}

.wow-enter-active {
    opacity: 1;
    transition: 500ms;
}

.btn {
    margin: 5px;
}

.my-alert  {
    background-color: lightyellow;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    p {
        margin-bottom: 0;
    }
}

.my-alert-red {
    @extend .my-alert;
    background-color: #ff0000;
}